@inject NavigationManager NavigationManager

<MudThemeProvider Theme="_currentTheme" />

<div class="main-app-bar">
    <div class="title-app-bar mud-theme-primary">
        <MudSpacer />
        <div class="title title-lg">Dakotah's Bookkeeping & Taxes</div>
        <div class="title title-sm">Dakotah's Taxes</div>
        <MudSpacer />
        <div class="theme-button">
            <MudTooltip Text="@_themeButoonToolTip">
                <MudIconButton Icon="@Icons.Material.Filled.Brightness4"
                               OnClick="@((e) => ChangeTheme())"
                               Color="Color.Inherit"></MudIconButton>
            </MudTooltip>
        </div>
    </div>

    <div style="color: var(--mud-palette-appbar-text); background-color: var(--mud-palette-appbar-background);">
        <MudTabs Elevation="0" Centered="true" Color="Color.Primary">
            <MudTabPanel Icon="@Icons.Material.Filled.Home" Text="Home" OnClick="@(() => NavigationManager.NavigateTo(""))" />
            <MudTabPanel Icon="@Icons.Material.Filled.Schedule" Text="Scheduling" OnClick="@(() => NavigationManager.NavigateTo("scheduling"))" />
            <MudTabPanel Icon="@Icons.Material.Filled.Info" Text="Tax Info" OnClick="@(() => NavigationManager.NavigateTo("taxinfo"))" />
            <MudTabPanel Icon="@Icons.Material.Filled.Construction" Text="Tax Tools" OnClick="@(() => NavigationManager.NavigateTo("taxtools"))" />
            <MudTabPanel Icon="@Icons.Material.Filled.Web" Text="Tax News" OnClick="@(() => NavigationManager.NavigateTo("taxnews"))" />
        </MudTabs>
    </div>
</div>
